*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

a:link {
    color: indianred;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

:root {
    --color-principal: dimgrey;
}



/** header**/


header {
    display: grid;
    background-color: rosybrown;
    padding: 1rem;
    color: white;
    text-align: center;
    
    }

header .tarjeta{
    width: 250px;
    height: 250px;
}

header ul{
    text-align: center;
    
}

header form {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}



.tarjeta{
    border: 2px solid white;
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: row;
}

.tarjeta img {
    width: 100%;
}

@media (min-width:1200px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
}

nav ul{
    display: flex;
    gap: 0.5rem;
    text-align: center;
}
}



/**Body**/

h1, h2, h3 {
    display: grid;
    color: dimgrey;
    margin-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-style: normal;
    margin-bottom: 1rem;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
    text-align: center;
}

.caja {
    width: 150px;
    height: 150px;
    border: solid 3px white;
    font-size: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: rosybrown;
}

.flex-container {
    background-color: rgb(rgb(180, 167, 167), green, blue);
    height: 95vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.secciones{

    display: grid;
    padding: 1rem;
    color: white;
    text-align: center;
    
}

@media(min-width: 1200px) {
    .secciones{
        display: grid;
    }
    
}

/**footer**/

footer {
    background-color: rosybrown;
    color: white;
    padding: 1rem;
    align-items: center;
    text-align: center;
    

}

footer ul{
    gap: 35px;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 1200px) {
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
}