* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:link {
  color: white;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

:root {
  --color-principal: $c-negro;
}

h2, h3 {
  color: rosybrown;
  margin-right: 150px;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: grey;
  font-size: 1.25rem;
}

.caja {
  font-size: 1.5rem;
  padding: 20rem;
  text-align: center;
  background-color: white;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
article .content {
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  color: rosybrown;
  text-align: center;
  margin-top: 10px;
  border: 2rem;
}
article h3 {
  margin: 0;
}
article p {
  font-family: "Times New Roman", Times, serif;
  color: grey;
  font-size: 1.25rem;
}

footer {
  background-color: rosybrown;
  color: white;
  padding: 1rem;
  align-items: center;
  text-align: center;
}
footer ul {
  gap: 35px;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
}
footer li {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
}
header {
  display: grid;
  background-color: rosybrown;
  padding: 2rem;
  color: white;
  text-align: center;
}
header .tarjeta {
  max-width: 190px;
  max-height: 200px;
  display: flex;
  box-shadow: 4px 4px 4px 4px;
}
header nav ul {
  text-align: center;
  font-size: larger;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
}

@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10rem;
  }
  header nav ul {
    display: flex;
    gap: 6rem;
    text-align: center;
  }
}
.flex-container {
  background-color: white;
  height: 95vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.content {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .secciones {
    display: grid;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
section .full-image1 {
  width: 50%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
@media (min-width: 768px) {
  section {
    flex-direction: row;
    justify-content: space-between;
  }
  section .text-center {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section div {
    flex-basis: 50%;
  }
}

@media (max-width: 385px) {
  .full-image1 {
    height: 200px;
  }
  section {
    padding: 0.5rem;
  }
  .form-control {
    width: 100%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .flex-section1 {
  display: flex;
  align-items: center;
}
.container .center-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .image-container1 {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 350px;
  padding: 1rem;
}
.container .image-container {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 400px;
  padding: 1rem;
}
.container .full-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.container .content {
  flex-basis: 50%;
}
.container .text-center {
  text-align: center;
  margin: 0;
}
.container h1 {
  color: rosybrown;
  margin-right: 150px;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  text-align: center;
  text-shadow: 5px 5px 5px;
  padding: 2rem;
}

@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .flex-section1 {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 60px;
  }
}
.main .preguntasfrecuentes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.main .pregunta {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  text-align: left;
}
.main .pregunta .pregunta-texto {
  flex: 1;
  margin: 0;
  color: rosybrown;
}
.main .pregunta .h3 {
  flex: 1;
  margin: 0;
  color: rosybrown;
}

.flex-section2 {
  display: flex;
  align-items: center;
}
.flex-section2 .center-section2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-section2 .image-container1 {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  height: 500px;
  align-items: center;
}
.flex-section2 .content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}
.flex-section2 .text-center {
  text-align: center;
  margin: 0;
}
.flex-section2 p {
  font-family: "Times New Roman", Times, serif;
  color: grey;
  font-size: 2rem;
}
.flex-section2 h3, .flex-section2 h1 {
  color: rosybrown;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5rem;
  font-size: 3rem;
  text-align: center;
}

.flex-container {
  background-color: white;
  height: 95vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.grid-container .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.grid-container .content {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .flex-section2 {
    flex-direction: row;
  }
  .center-section2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .image-container1 {
    flex-basis: 50%;
    height: auto;
  }
  .image-container1 img {
    max-width: 100%;
    height: auto;
  }
  .content {
    flex-basis: 50%;
    padding: 0 45px;
  }
}

/*# sourceMappingURL=style.css.map */
