$c-blanco: white;
$c-negro: black;
$c-grey: grey;
$c-rosybrown: rosybrown;
$ff-time: 'Times New Roman', Times, serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

a:link {
    color: $c-blanco;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

:root {
    --color-principal: $c-negro;
}

.title1 {
        color: $c-rosybrown;
        margin-right: 150px;
        font-family: $ff-time;
        font-size: 3rem;
        text-align: center;
        text-shadow: 5px 5px 5px;
        padding: 2rem;
        }  
        
        
.title3 {
        color: $c-rosybrown;
        font-family: $ff-time;
        margin-bottom: 2rem;
        font-size: 3rem;
        text-align: center;
        overflow: hidden;
        transition: transform 0.3s case;
        &:hover {
            transform: scale(1.1);
        }
        }

.title2 {
    color: $c-rosybrown;
    font-family: $ff-time;
    font-style: normal;
    margin-bottom: 3rem;
    text-align: center;
}

.parrafo1 {
    font-family: $ff-time;
    color: $c-grey;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}

.parrafo2 {
    font-family: $ff-time;
    color: $c-grey;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;

}

.preguntas-parrafo {
    font-family: $ff-time;
    color: $c-grey;
    font-size: 1.25rem;
    text-align: left;
    padding: 0.7rem;
    margin-bottom: 0;

}
p{
    font-family: $ff-time;
    color: $c-grey;
    font-size: 1.25rem; 
    margin-bottom: 0;
}


