.full-image2 {
    width: 100%;
    height: 60%;
    object-fit: cover;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
    padding: 8px 10px;
    margin: 8px;
    background-color: $c-rosybrown;
    color: $c-blanco;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: $c-grey;
    transform: scale(1.1)
}