.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-section1 {
    display: flex;
    align-items: center;
}

.center-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

.content {
    flex-basis: 50%;
}

.text-center {
    text-align: center;
    margin: 0;
}


@media (max-width: 767px) {
    .container {
        padding: 20px;
    }

    .flex-section1 {
        flex-direction: column;
    }
}

@media (min-width: 1200px) {
    .container{
        padding: 60px;
    }
}
