
.flex-section2 {
    display: flex;
    align-items: center;

    .center-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .image-container1 {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    height: 500px;
    align-items: center;
    }

    .content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    } 

    .text-center {
    text-align: center;
    margin: 0;

    }

    p {
    font-family: $ff-time;
    color: $c-grey;
    font-size: 2rem; 
    }
    h3, h1 {
        color: $c-rosybrown;
        font-family: $ff-time;
        margin-bottom: 5rem;
        font-size: 3rem;
        text-align: center;
    }
    

}

.flex-container {
    background-color: $c-blanco;
    height: 95vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    }



    .content{
    margin-top: 10px;
    }
}



@media(min-width: 768px) {
    .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


    .flex-section2 {
        flex-direction: row;
    }

    .center-section2 {
        flex-direction: row;
        justify-content: space-between;
    }

    .image-container1 {
        flex-basis: 50%;
        height: auto;
    }

    .image-container1 img {
        max-width: 100%;
        height: auto;
    }

    .content {
        flex-basis: 50%;
        padding: 0 45px;
    }


}