
.flex-section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    
    .center-section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }

    .image-seccion {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        height: 600px;
        align-items: center;
        border-radius: 10px;
    }

    .seccion {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px;
    
    } 

    .text-center {
        text-align: center;
        margin: 0;
    }
}

.flex-container {
    background-color: $c-blanco;
    height: 95vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1000px) {
    .flex-section2 {
        flex-direction: column; 
        align-items: center;
        gap: none;
    }
    
    .flex-section2 .seccion {
        padding: 0;
    }
}