article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        background-color: $c-blanco;
        padding: 10px;
        box-sizing: border-box;
        color: $c-rosybrown;
        text-align: center;
        margin-top: 10px;
        border: 2rem;
    }

    h3  {
        margin: 0;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        color: $c-grey;
        font-size: 1.25rem; 
    }

}






