section {
    .title {
        margin-bottom: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        max-width: 1000px; 
        margin: 0 auto; 
        padding: 50px;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: $c-blanco;
        padding: 10px;
        box-sizing: border-box;
        color: $c-rosybrown;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.117);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.117);
        transition: all 0.5s;
        &:hover{
            transform: translateY(-10px) scale(1.1);
            box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.117);
        }
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    h3 {
        margin: 0;
        margin-bottom: 10px;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        color: $c-grey;
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }
}









