footer {
    background-color: $c-rosybrown;
    color: $c-blanco;
    padding: 1rem;
    align-items: center;
    text-align: center;
    
    
    ul {
        gap: 35px;
        flex-direction: column;
        margin-bottom: 3rem;
        text-align: center;
        
    }
    li {
        margin-bottom: 30px;
    }

}


@media (min-width: 1200px) {
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
}