header {
    display: grid;
    background-color: $c-rosybrown;
    padding: 2rem;
    color: $c-blanco;
    text-align: center;

    nav ul {
            text-align: center;
            font-size: larger;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding: 1rem;
        }
    }




@media (min-width:1200px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30rem;

        nav ul {
            display: flex;
            gap: 1rem;
            text-align: center;
        }
    }
}
