header {
    display: grid;
    background-color: $c-rosybrown;
    padding: 2rem;
    color: $c-blanco;
    text-align: center;
    

    .tarjeta {
        max-width: 190px;
        max-height: 200px;
        display: flex;
        box-shadow: 4px 4px 4px 4px;

        
        }

    nav ul {
            text-align: center;
            font-size: larger;
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding: 1rem;
        }

    
    }




@media (min-width:1200px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10rem;

        nav ul {
            display: flex;
            gap: 6rem;
            text-align: center;
        }

}

}
